*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a{
    color: #777;
    border-bottom: 3px dashed #777;
    text-decoration: none;
    font-weight: bold;
  }
  body{
    background: black;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    color: #333;
  }
  h1{
    width: 100%;
    display:block;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 5em;
  }
  body > div{
    min-width: 25vw;
    color: rgba(30,144,255, 1);
  }
  #box2{
    color: #333;
    text-align: center;
  }
  h2{
    font-family: sans-serif;
    font-weight: bolder;
  }
  .notFound{
    fill: rgba(30,144,255, 1);
    stroke: rgba(30,144,255, 1);
    stroke-width: 1.5;
    animation: lupa 5s infinite;
  }
  @keyframes lupa{
    from{
      fill: rgb(94, 175, 255);
      stroke: rgba(30,144,255, 1);
      stroke-dasharray: 0;
    }to{
      fill: rgba(30,144,255, 1);
      stroke: rgba(30,144,255, 1);
      stroke-dasharray: 95;
    }
  }
  .notFound rect{
    stroke: none;
  }
  
  @media screen and (max-width: 600px){
    body{
      flex-direction: column;
    }
  }