@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Nunito+Sans:wght@900&display=swap");
img {
  width: 100%;
  border-radius: 2px;
}

.grid {
  -webkit-column-gap: auto auto auto auto;
          column-gap: auto auto auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 .1em;
}

.grid-col--2, .grid-col--3 {
  display: none;
}

.content {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  margin-top: 1em;
}

.content h2 {
  margin: .2em .5em;
  font-size: 0.2em;
}

@media (min-width: 1000px) {
  .col {
    width: 50%;
    margin: 0% auto;
    min-width: 500px;
  }
  h2 {
    margin: 3em 0%;
  }
  .grid-col--2 {
    display: block;
  }
  .container {
    /*width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url();
        background-position: center;
        background-size: cover;
        padding-left: 0%;
        padding-right: 0%;
        box-sizing: border-box;*/
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .grid-col {
    padding: 0 .5em;
  }
  img {
    margin-bottom: .8em;
  }
  .content {
    opacity: 0;
    -webkit-transform: translateX(-0.5em);
            transform: translateX(-0.5em);
    -webkit-transition: all 1s;
    transition: all 1s;
    will-change: opacity, transform;
  }
  .grid-item:hover {
    cursor: pointer;
  }
  .grid-item:hover .content {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 1080px) {
  .grid-col--3 {
    display: block;
  }
  .grid-col--3 .container {
    width: 80%;
  }
  h2 {
    margin: 5em 0;
  }
  .grid-item:nth-of-type(4n+1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .grid-item:nth-of-type(4n+2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .grid-item:nth-of-type(4n+3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .grid-item:nth-of-type(4n) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media (max-width: 768px) {
  .Homecateg {
    display: none;
  }
}

@media (max-width: 1200px) {
  .card {
    width: 144px;
    height: 256px;
  }
  .col {
    padding: 20px;
  }
  .side_left {
    display: none;
  }
  .side_right {
    display: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0%;
  font-family: 'Dongle', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: black;
  margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

h1 {
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 15px;
  position: fixed;
  top: 0;
  left: 0;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 500px) {
  .grid-col--4 {
    display: none;
  }
  h2 {
    margin: 5em 0;
  }
  .col {
    padding: 0;
    border: 10px;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #1e90ff;
    width: 160px;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    top: 0;
    height: 100%;
  }
  .nav-menu.active {
    left: 0;
    display: block;
    position: fixed;
    visibility: visible;
    margin-top: 0px;
  }
  .nav-link {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    display: inline-block;
    opacity: 1;
  }
}

/* Centers the image */
.Imagecenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Video Title Class: Centers the video*/
.TitleVid {
  text-align: center;
}

/* Centers Video*/
.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*Video Player CSS*/
video {
  width: 47vh;
  height: 85vh;
}

/*Use it as a spacer rly thats it but i think its fucked up rn idrc ill fix l8r*/
.spacer {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

.container {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url();
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url();
  background-position: center;
  background-size: cover;
  padding-left: 0%;
  padding-right: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

li {
  display: inline-block;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
}

.nav-menu {
  visibility: hidden;
}

li a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: 25px;
  padding: 40px 40px 40px 40px;
  display: inline-block;
}

.navigation {
  margin: 0;
  list-style: none;
  display: inline-block;
  height: 80px;
  z-index: 999;
  width: 500px;
  margin-bottom: 60px;
  /*aligns navigation along the top*/
}

.navigation {
  color: black;
  text-decoration: none;
  font-size: 13px;
  /*turns the color from purple to white (goat helped) yes and no*/
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titlecol {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 0% auto;
  width: 50vh;
}

@media (min-width: 320px) {
  .col {
    min-width: 320px;
  }
}

.col {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0% auto;
  margin-left: 20%;
  margin-right: 20%;
  display: row;
}

@media (max-width: 1200px) {
  .col {
    min-width: 800px;
  }
}

@media (min-width: 1200px) {
  .col {
    min-width: 974px;
  }
}

@media (max-width: 815px) {
  .col {
    min-width: 700px;
  }
}

@media (max-width: 715px) {
  .col {
    min-width: 600px;
  }
}

@media (max-width: 615px) {
  .col {
    min-width: 500px;
  }
}

@media (max-width: 515px) {
  .col {
    min-width: 400px;
  }
}

@media (max-width: 415px) {
  .col {
    min-width: 300px;
  }
}

@media (max-width: 315px) {
  .col {
    min-width: 200px;
  }
}

.frontpageh {
  margin-top: 15%;
  color: whitesmoke;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p {
  color: whitesmoke;
  font-size: 11px;
}

.menubutton {
  width: 180px;
  color: black;
  font-size: 12px;
  padding: 12px 0;
  background: white;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}

.card {
  width: 240px;
  height: 426px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  margin: 10px 0px;
  background-position: center;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

/*Balls*/
.hide {
  opacity: 0;
  padding: 0px 0px;
  border-radius: 0px;
  font-size: 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: black;
  color: white;
  border: none;
}

.showcateg {
  border: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.ButtonCateg {
  color: white;
  font-size: 12px;
  padding: 10px 40px;
  background: black;
  border: 12;
  border-radius: 0px;
  margin-top: 15px;
}

.linkanim {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: white;
}

.linkanim::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 0%;
  height: 2px;
  background: currentColor;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.linkanim:hover::after {
  width: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  background-color: white;
  color: black;
}

.card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.ButtonCateg {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ButtonCateg1:hover {
  opacity: 0.7;
}

.ButtonCateg2:hover {
  opacity: 0.7;
}

.ButtonCateg3:hover {
  opacity: 0.7;
}

.featured {
  text-align: center;
}

.side_right {
  background-color: white;
  width: 10%;
  height: 600px;
  position: absolute;
  right: 5px;
  top: 500px;
}

.side_left {
  background-color: white;
  width: 10%;
  height: 600px;
  position: absolute;
  left: 5px;
  top: 500px;
}

.demo {
  color: white;
}

.search {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__button {
  border: none;
  background-color: #efefef;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.search__icon {
  font-size: 25px;
  color: #999;
}

h5 {
  text-decoration: none;
  color: black;
}

/*do i just put hv instead of % OOOOOOOOOOOOOO */
/* http://127.0.0.1:5500/index.html */
/*iAheago cards*/
.wrapper-gridindex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[auto-fit];
      grid-template-columns: repeat(auto-fit);
}

.iaheagocard1 {
  background-image: url(/thumbnail/TESTCARD1.jpg);
  background-size: 100%;
}

.iaheagocard2 {
  background-image: url(/thumbnail/TESTCARD1.jpg);
  background-size: 100%;
}

.iaheagocard3 {
  background-image: url(/thumbnail/TESTCARD1.jpg);
  background-size: 100%;
}

.iaheagocard4 {
  background-image: url(/thumbnail/TESTCARD1.jpg);
  background-size: 100%;
}

.iaheagocard5 {
  background-image: url(/thumbnail/TESTCARD1.jpg);
  background-size: 100%;
}

.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader > img {
  width: 500px;
}

.loader.hidden {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Hidden Button CSS */
.ButtonCateg1 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: black;
  border-width: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  -webkit-transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 100ms cubic-bezier(0.694, 0, 0.335, 1), color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 100ms cubic-bezier(0.694, 0, 0.335, 1), color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.ButtonCateg1:before {
  -webkit-animation: opacityFallbackOut .5s step-end forwards;
          animation: opacityFallbackOut .5s step-end forwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #1d1d1d;
  -webkit-clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
          clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.ButtonCateg1:hover:before {
  -webkit-animation: opacityFallbackIn 0s step-start forwards;
          animation: opacityFallbackIn 0s step-start forwards;
  -webkit-clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
          clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.ButtonCateg1:after {
  background-color: #FFFFFF;
}

.ButtonCateg1 span {
  z-index: 1;
  position: relative;
}

/* b2 */
.ButtonCateg2 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: black;
  border-width: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  -webkit-transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 100ms cubic-bezier(0.694, 0, 0.335, 1), color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 100ms cubic-bezier(0.694, 0, 0.335, 1), color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.ButtonCateg2:before {
  -webkit-animation: opacityFallbackOut .5s step-end forwards;
          animation: opacityFallbackOut .5s step-end forwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #1d1d1d;
  -webkit-clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
          clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.ButtonCateg2:hover:before {
  -webkit-animation: opacityFallbackIn 0s step-start forwards;
          animation: opacityFallbackIn 0s step-start forwards;
  -webkit-clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
          clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.ButtonCateg2:after {
  background-color: #FFFFFF;
}

.ButtonCateg2 span {
  z-index: 1;
  position: relative;
}

/* b3 */
.ButtonCateg3 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: black;
  border-width: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  -webkit-transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 100ms cubic-bezier(0.694, 0, 0.335, 1), color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 100ms cubic-bezier(0.694, 0, 0.335, 1), color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.ButtonCateg3:before {
  -webkit-animation: opacityFallbackOut .5s step-end forwards;
          animation: opacityFallbackOut .5s step-end forwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #1d1d1d;
  -webkit-clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
          clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.ButtonCateg3:hover:before {
  -webkit-animation: opacityFallbackIn 0s step-start forwards;
          animation: opacityFallbackIn 0s step-start forwards;
  -webkit-clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
          clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.ButtonCateg3:after {
  background-color: #FFFFFF;
}

.ButtonCateg3 span {
  z-index: 1;
  position: relative;
}

/* next page */
.grid, .pagination {
  clear: both;
}

.grid img:nth-child(4n-1) {
  clear: both;
}

/* next/prev button styling */
.bstyling {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid dodgerblue;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: dodgerblue;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin: 0, auto, 10px;
  min-height: 44px;
  min-width: 88px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  will-change: transform;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bstyling:disabled {
  pointer-events: none;
}

.bstyling:hover {
  color: dodgerblue;
  background-color: rgba(30, 144, 255, 0.2);
  -webkit-box-shadow: dodgerblue;
          box-shadow: dodgerblue;
}

.bstyling:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* easy upload images */
/*cool hover*/
.grid .grid-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/*cards */
/*homepage cards*/
.homecard1 {
  background-image: url(/thumbnail/MASTURBATION.jfif);
}

.homecard2 {
  background-image: url(/thumbnail/BIG-BOOBS.jpg);
}

.homecard3 {
  background-image: url(/thumbnail/GANAL.jfif);
}

.homecard4 {
  background-image: url(/thumbnail/LEWD.jpg);
}

/*image cards*/
.imagecard1 {
  background-image: url(/thumbnail/AHEAGO.jfif);
  /*uhh probably a gf*/
}

.imagecard2 {
  background-image: url(/thumbnail/LEWD.jpg);
}

.imagecard3 {
  background-image: url(/thumbnail/IYURI.jfif);
}

.imagecard4 {
  background-image: url(/thumbnail/BIG-BOOBS.jpg);
}

.imagecard5 {
  background-image: url(/thumbnail/IGANG-BANG.jfif);
}

.imagecard6 {
  background-image: url(/thumbnail/MEN.jfif);
}

.imagecard7 {
  background-image: url(/thumbnail/IVANILLA.jfif);
}

.imagecard8 {
  background-image: url(/thumbnail/IMASTURBATION.jfif);
}

.imagecard9 {
  background-image: url(/thumbnail/NEKOMIMI.jfif);
}

.imagecard10 {
  background-image: url(/thumbnail/IANAL.jfif);
}

.imagecard11 {
  background-image: url(/thumbnail/IBDSM.jfif);
}

.imagecard12 {
  background-image: url(/thumbnail/ASS.jfif);
}

/*video cards*/
.videocard1 {
  background-image: url(/thumbnail/VVANILLA.jfif);
}

.videocard2 {
  background-image: url(/thumbnail/MASTURBATION.jfif);
}

.videocard3 {
  background-image: url(/thumbnail/BLOW-JOB.jpg);
}

.videocard4 {
  background-image: url(/thumbnail/VYURI.jfif);
}

.videocard5 {
  background-image: url(/thumbnail/GANAL.jfif);
}

.videocard6 {
  background-image: url(/thumbnail/VBOOBS.jfif);
}

.videocard7 {
  background-image: url(/thumbnail/RIDING.jpg);
}

.videocard8 {
  background-image: url(/thumbnail/VGANG-BANG.jfif);
}

.videocard9 {
  background-image: url(/thumbnail/GPUSSY.jfif);
}

.videocard10 {
  background-image: url(/thumbnail/MILF.jfif);
}

.videocard11 {
  background-image: url(/thumbnail/GCUM.jfif);
}

.videocard12 {
  background-image: url(/thumbnail/TRAP.jfif);
}

.misccard1 {
  background-image: url(/thumbnail/TESTCARD1.jpg);
}

.misccard2 {
  background-image: url(/thumbnail/TESTCARD1.jpg);
}

.misccard3 {
  background-image: url(/thumbnail/TESTCARD1.jpg);
}

.misccard4 {
  background-image: url(/thumbnail/TESTCARD1.jpg);
}

@media (max-width: 768px) {
  .card {
    position: relative;
    left: 10%;
  }
  .search {
    width: 300px;
  }
  .titlecol {
    width: 320px;
  }
}

@media (max-width: 1200px) {
  .card {
    width: 180px;
    height: 300px;
    position: relative;
    left: 5%;
  }
}

@media (max-width: 815px) {
  .card {
    width: 300px;
    height: 500px;
  }
}

@media (max-width: 715px) {
  .card {
    width: 250px;
    height: 400px;
    left: 50px;
  }
}

@media (max-width: 615px) {
  .card {
    width: 200px;
    height: 350px;
  }
}

@media (max-width: 515px) {
  .card {
    left: 100px;
  }
}

@media (max-width: 415px) {
  .card {
    left: 50px;
  }
}

@media (max-width: 315px) {
  .card {
    left: 5px;
  }
}

/* search thingy */
::-moz-selection {
  color: #fff;
  background: #000;
}
::selection {
  color: #fff;
  background: #000;
}

.wrapper {
  max-width: 450px;
  margin: 150px auto;
}

.wrapper .search-input {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 0 0 20px;
  font-size: 18px;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li {
  display: block;
}

.autocom-box li:hover {
  background: #f2f2f2;
}

.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

/* search n stuff*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  color: #fff;
  background: #000;
}

::selection {
  color: #fff;
  background: #000;
}

.wrapper {
  margin: 10px auto;
  max-width: 300px;
}

.wrapper .search__input {
  background: #fff;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search__input input {
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 40px 0 20px;
  font-size: 18px;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  width: 80%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search__input.active input {
  border-radius: 5px 5px 0 0;
}

.search__input input:focus {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #1e90ff80;
}

.search__input.active input {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.search__input .autocom-box {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search__input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  background: white;
}

.search__input.active .autocom-box li {
  display: block;
}

.autocom-box li:hover {
  background: #f2f2f2;
}

.search__input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 60px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}
/*# sourceMappingURL=image.css.map */